// COLOR
$bg-dark: #373737;
$bg-darkest: #181718;
$bg-lightest: #FCFCFC;
$bg-light: #DFDFDF;
$font-dark: #252525;
$font-light: #FAFAFA;

// FONT WEIGHT
$font-lightweight: 300;
$font-normal: 400;
$font-bold: 700;

// FONT SIZE
$font-size-small: 14.4px;
$font-size-basic: 16px;
$font-size-medium: 17.6px;
$font-size-large: 21.6px
